{{ $dot := . }}

<div class="mobilequicknav row align-items-center no-gutters">
    <a href="https://www.datadoghq.com" class="col text-center">
        {{ partial "img.html" (dict "root" $dot "src" "icons/nav_home.png" "class" "static" "alt" "home" "width" "21") }}
        Home
    </a>
    <a href="/" class="col text-center">
        {{ partial "img.html" (dict "root" $dot "src" "icons/nav_docs.png" "class" "static" "alt" "docs" "width" "21") }}
        Docs
    </a>
    <a href="/api/" class="col text-center">
        {{ partial "img.html" (dict "root" $dot "src" "icons/nav_api.png" "class" "static" "alt" "api" "width" "21") }}
        API
    </a>
</div>

<aside class="sidenav">
    <div class="row sticky">
        <div class="col">
            <a href="{{.Site.BaseURL}}"><h4>Datadog Docs</h4></a>
            <form class="sidenav-search" action="{{.Site.BaseURL}}search/">
                <div class="input-group">
                    <input type="text" class="form-control" name="s" placeholder="Search" aria-label="Search"/>
                    <span class="input-group-addon">{{ partial "img.html" (dict "root" . "src" "icons/nav_search.png" "alt" "search" "width" "21") }}</span>
                </div>
            </form>
            <div class="scroller">
                {{ if not .Params.disable_toc}}
                    {{ partial "table-of-contents/table-of-contents.html" . }}
                {{ end }}
                <div class="sidenav-nav">
                    {{ partial "sidenav/recursive-nav.html" (dict "context" $dot "data" .Site.Menus.main) }}
                </div>
            </div>
        </div>
    </div>
</aside>


